# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Платформенные папки генерируются `flutter create .` — коммить по желанию.

# IDE
.idea/
*.iml
